#logo {
    width: 205px;
    margin-top: auto;


}

/* .navbar-brand{
    background-color: #ffffff;
    
} */


.navbar {
    font-family: Courier New, monospace;
    background-color: #ffffff !important;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block;
    /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный 
    line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
    color: #000000 !important;
    /*Задаём цвет ссылки*/
}

.nav-link:after {
    display: block;
    /*превращаем его в блочный элемент*/
    content: "";
    /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 2px;
    /*задаём высоту линии*/
    width: 0%;
    /*задаём начальную ширину элемента (линии)*/
    background-color: rgb(212, 175, 55);
    /*цвет фона элемента*/
    transition: width 0.6s ease-in-out;
    /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.nav-link:hover:after,
.nav-link:focus:after {
    width: 100%;
}

.nav-link:hover {
    color: #000000;
}

.navbar-expand-sm .navbar-collapse {
    margin-top: auto
}

.d-flex {
    margin-left: auto
}

.btn-outline-success {
    color: #000000;
    border-color: #000000;
}

.container {
    font-size: 28px;

}

.hr-line {
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-top: 2px solid rgb(212, 175, 55);
    border-bottom: 2px solid rgb(0, 0, 0);
}